/* CSS is written for mobile first design */

/* #region normalization */

/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* #endregion normalization */

/* #region Common */

:root {
    --color-white: #FFFFFF;
    --color-warm-gray: #BFC0C0;
    --color-very-dark-orange: #EF8354;
    --gray-blue: #4F5D75;
    --dark-gray-blue: #2D3142;
    --color-black: #000000;
    --font-size-small: 0.9rem;
    --font-size-default: 1rem;
    --font-size-large: 1.25rem;
    --font-size-very-large: 1.5rem;
    --font-size-extra-large: 1.9rem;
}

html {
    font-size: 16px;
}

/* Common styling is placed in the all selector as placing it
    in the body selector may not not target all elements resulting
    in inconsistencies when developing a website */
* {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-size-default);
}

h1,
h2,
h3,
h4,
figcaption,
legend{
    font-weight: bold;
}

h1 {
    font-size: var(--font-size-extra-large);
}

h2 {
    font-size: var(--font-size-very-large);
}



/* #endregion Common */



